@font-face {
  font-family: "Roboto";
  src: url($Roboto-Thin);
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-ThinItalic);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-Light);
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-LightItalic);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-Regular);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-Italic);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-Medium);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-MediumItalic);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-Bold);
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-BoldItalic);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-Black);
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: url($Roboto-BlackItalic);
  font-weight: 900;
  font-style: italic;
}
