$color-white: #ffffff;
$color-black: #000000;
$color-green: #96c837;
$color-dark-green: #519032;
$color-gray: #505050;
$color-gray-dark: #2d3036;
$color-alert: #E4EDF2;
$radius-2: 2px;
$radius-4: 4px;
